* {
    color: white;
}

body {
    background-color: #171717;
}

.container {
    background-color: #222;
    filter: drop-shadow(0px 0px 12px #000000);
    padding: 2rem;
}

input {
    color: black;
}

.pipe {
    position: fixed;
}

.incorrect {
    border-color: #f53232 !important;
    background-color: #ff9b9b !important;
}

/* todo: add slick rounded borders around the tables, its gonna be pain but i will break this son of a gun */
